<div class="container" data-infinite-scroll (scrolled)="onScrollDown()">
  <br>
  <app-usermenu></app-usermenu>
  <div class="row" >
  <div class="col-xs-12">
  <div class="panel panel-default" style="background-color: rgb(244, 248, 255)">
    <div class="panel-body" style="margin: 30px" loader >
      <div class="row">

        <h1>Games</h1>
        <h2>Schedule:</h2>

        <div class="form-group has-feedback">
          <label for="search" class="sr-only">Search</label>
          <input [formControl]="searchControl" type="text" class="form-control" name="search" id="search" placeholder="Search team">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>

        <div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 0, minDuration: 0, wrapperClass: 'my-busy'}"></div>

        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>DATE</th>
            <th>STATUS</th>
            <th>MATCHDAY</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Result</th>
            <th></th>
          </tr>
          <tr *ngFor="let footballgame of array" (onUpdate)="search($event)">
            <td>{{footballgame.date | date: 'dd/MMM/yyyy, h:mm a'}}</td>
            <td>{{footballgame.status}}</td>
            <td>{{footballgame.matchday}}</td>
            <td>{{footballgame.homeTeamName}}</td>
            <td>{{footballgame.awayTeamName}}</td>
            <td *ngIf="footballStatus(footballgame)=== 4">{{footballgame.goalsHomeTeamFirstHalf}} : {{footballgame.goalsAwayTeamFirstHalf}}</td>
            <td *ngIf="footballStatus(footballgame)=== 1">Forthcoming</td>
            <td *ngIf="footballStatus(footballgame)=== 3">CANCELED</td>
            <td *ngIf="footballStatus(footballgame)=== 2"> Playing</td>
            <td *ngIf="footballStatus(footballgame)=== 5">POSTPONED</td>
            <td *ngIf="footballStatus(footballgame)=== 6">Forthcoming</td>
            <td *ngIf="footballStatus(footballgame)=== 7"></td>
            <td *ngIf="!checkForSubscribe(footballgame.id)"><button class="btn btn-success" (click)="subscribe($event.target, footballgame)">Subscribe</button></td>
            <td *ngIf="checkForSubscribe(footballgame.id)"><button class="btn btn-success" (click)="subscribe($event.target, footballgame)">Remove Subscribe</button></td>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
