/* You can add global styles to this file, and also import other style files */

@import '../node_modules/angular2-busy/build/style/busy.css';

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("app/images/ball.jpg");

  /* Full height */
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  /*background-size: cover;*/
}

.sport-navbar{
  margin-bottom: 0px;
}

.sport-modal-content{
  margin-top:100px;
}

.sport-navbar-brand {

  font-weight: bold;
  font-size:30px
}
.sport-navbar-brand>span{
  color: green;
}

.sport-navbar-brand>img{
  display: inline-block;
}

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.my-busy{
  top: 50px;
}

.login-user {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
